/*contenedor menu*/
.menu{
    width: 100%;
    height: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;/*eje X*/
    align-items: center;/*eje Y*/
    background-color: rgb(255, 255, 255);
}
/*logo*/
.menu .logo img{
    width: 200px;
}
/*enlaces*/
.menu .enlaces ul{
    display: flex;
    list-style: none;

}
.menu .enlaces ul li{
   margin-right: 10px;
}
.menu .enlaces ul li a{
   font-size: 20px;
   text-decoration: none;
   color: #f15811;
 }
 .menu .botones button{
    background-color: aliceblue;
    color: rgb(252, 82, 4);
    font-size: 20px;
 }
 /*sesion inicio*/
 #inicio{
    width: 100%;
    height: 600px;
 }
 